In [1]:
# https://www.kaggle.com/code/soumya9977/autograding-using-lstm-tf-keras
import os
import pandas as pd

df = pd.read_csv("../input/asap-aes/training_set_rel3.tsv", sep='\t', encoding='ISO-8859-1')
df = df.dropna(axis=1)
df = df.drop(columns=['rater1_domain1', 'rater2_domain1'])
df = df.drop(columns=['essay_id', 'essay_set'])
df.head()

                                               essay  domain1_score
0  Dear local newspaper, I think effects computer...              8
1  Dear @CAPS1 @CAPS2, I believe that using compu...              9
2  Dear, @CAPS1 @CAPS2 @CAPS3 More and more peopl...              7
3  Dear Local Newspaper, @CAPS1 I have found that...             10
4  Dear @LOCATION1, I know having computers has a...              8

In [5]:
df

                                                   essay  domain1_score
0      Dear local newspaper, I think effects computer...              8
1      Dear @CAPS1 @CAPS2, I believe that using compu...              9
2      Dear, @CAPS1 @CAPS2 @CAPS3 More and more peopl...              7
3      Dear Local Newspaper, @CAPS1 I have found that...             10
4      Dear @LOCATION1, I know having computers has a...              8
...                                                  ...            ...
12971   In most stories mothers and daughters are eit...             35
12972   I never understood the meaning laughter is th...             32
12973  When you laugh, is @CAPS5 out of habit, or is ...             40
12974                                 Trippin' on fen...             40
12975   Many people believe that laughter can improve...             40

[12976 rows x 2 columns]

In [2]:
df['essay'][1]

"Dear @CAPS1 @CAPS2, I believe that using computers will benefit us in many ways like talking and becoming friends will others through websites like facebook and mysace. Using computers can help us find coordibates, locations, and able ourselfs to millions of information. Also computers will benefit us by helping with jobs as in planning a house plan and typing a @NUM1 page report for one of our jobs in less than writing it. Now lets go into the wonder world of technology. Using a computer will help us in life by talking or making friends on line. Many people have myspace, facebooks, aim, these all benefit us by having conversations with one another. Many people believe computers are bad but how can you make friends if you can never talk to them? I am very fortunate for having a computer that can help with not only school work but my social life and how I make friends. Computers help us with finding our locations, coordibates and millions of information online. If we didn't go on the internet a lot we wouldn't know how to go onto websites that @MONTH1 help us with locations and coordinates like @LOCATION1. Would you rather use a computer or be in @LOCATION3. When your supposed to be vacationing in @LOCATION2. Million of information is found on the internet. You can as almost every question and a computer will have it. Would you rather easily draw up a house plan on the computers or take @NUM1 hours doing one by hand with ugly erazer marks all over it, you are garrenteed that to find a job with a drawing like that. Also when appling for a job many workers must write very long papers like a @NUM3 word essay on why this job fits you the most, and many people I know don't like writing @NUM3 words non-stopp for hours when it could take them I hav an a computer. That is why computers we needed a lot now adays. I hope this essay has impacted your descion on computers because they are great machines to work with. The other day I showed my mom how to use a computer and she said it was the greatest invention sense sliced bread! Now go out and buy a computer to help you chat online with friends, find locations and millions of information on one click of the button and help your self with getting a job with neat, prepared, printed work that your boss will love."

In [3]:
list_1 = []
list_2 = []
list_3 = []
list_4 = []
list_5 = []
list_6 = []
list_7 = []
list_8 = []
list_9 = []
list_10 = []

In [4]:
data = []
num = [1,2,3,4,5,6,7,8,9,10]
count = 0
for i,j in zip(range(len(df)),df["essay"]):
    if df["domain1_score"][i] == 1:
        list_1.append(j)
    if df["domain1_score"][i] == 2:
        list_2.append(j)
    if df["domain1_score"][i] == 3:
        list_3.append(j)
    if df["domain1_score"][i] == 4:
        list_4.append(j)
    if df["domain1_score"][i] == 5:
        list_5.append(j)
    if df["domain1_score"][i] == 6:
        list_6.append(j)
    if df["domain1_score"][i] == 7:
        list_7.append(j)
    if df["domain1_score"][i] == 8:
        list_8.append(j)
    if df["domain1_score"][i] == 9:
        list_9.append(j)
    if df["domain1_score"][i] == 10:
        list_10.append(j)

In [6]:
import itertools
data = list(itertools.chain(list_1,list_2,list_3,list_4,list_5,list_6,list_7,list_8,list_9,list_10))
len(data)

10323

In [9]:
def gen_num(num,length):
  num_list = [num]*length
  return num_list

In [8]:
score_1 = gen_num(1,len(list_1))
score_2 = gen_num(2,len(list_2))
score_3 = gen_num(3,len(list_3))
score_4 = gen_num(4,len(list_4))
score_5 = gen_num(5,len(list_5))
score_6 = gen_num(6,len(list_6))
score_7 = gen_num(7,len(list_7))
score_8 = gen_num(8,len(list_8))
score_9 = gen_num(9,len(list_9))
score_10 = gen_num(10,len(list_10))

score = list(itertools.chain(score_1,score_2,score_3,score_4,score_5,score_6,score_7,score_8,score_9,score_10))
len(score)

10323

In [10]:
# dictionary of lists 
dictnary = {'essay': data, 'score': score}     
df = pd.DataFrame(dictnary) 
df

                                                   essay  score
0      Write a persuasive essay to a newspaper reflec...      1
1      If the people that are publishing and writing ...      1
2      I do think that there should be a censorship i...      1
3      I belive that they need to keep every thing an...      1
4      Hi my name is @CAPS1 @CAPS2 @PERSON1 and I'm h...      1
...                                                  ...    ...
10318  A time I was patient was when I had to be pati...     10
10319  Being patient is hard to be. First of all its ...     10
10320  One day I was watching @CAPS1. I was bored the...     10
10321  My own way about patient is that when somebody...     10
10322                              I dont like computers     10

[10323 rows x 2 columns]

In [11]:
df['n_words'] = df.essay.apply(lambda x: len(x.split()))

In [12]:
df.describe()

              score       n_words
count  10323.000000  10323.000000
mean       3.518163    203.786884
std        2.464775    147.017156
min        1.000000      2.000000
25%        2.000000     96.000000
50%        3.000000    156.000000
75%        4.000000    283.000000
max       10.000000   1064.000000

In [15]:
df.essay.values[-1]

'I dont like computers'

In [ ]:
df['text_id'] = list(range(len(df)))
df['full_text'] = df['essay']
d = df[['text_id', 'full_text', 'score']]
d.to_csv('../input/feedback-prize-english-language-learning/train_v3.csv', index=False)